:root {
    --backend-label-color: #fff;
    --backend-label-background: #999;
}

[data-node-label] {
	&::before {
		content: attr(data-node-label);
		display: block;
		cursor: pointer;
		padding: 5px 10px;
		margin-bottom: 10px;
		width: 100%;
		color: var(--backend-label-color);
		font-size: 90%;
		font-weight: normal;
		font-family: 'Open Sans', sans-serif;
		background-color: var(--backend-label-background);
	}

	&:empty::before {
		margin-bottom: 0;
	}
}
